/* DOCUMENT */

    body { margin-top: 40px; font-size: 18px; } /* Nudge margin-top to leave room for nav handle */

/* NAV */

    nav { position: fixed; float: none; margin: 0; padding: 0; top: 0; left: 0; width: 100%; }
    nav a.mobile_handle { display: block; padding: 10px; background: #a8acbf; text-align: center; }
    nav ul { display: none; }
    nav ul li { display: block; position: relative; float: none; padding: 0; background: #e3e3e3; border-top: 1px solid #757575; }
    nav ul a, nav ul a:link, nav ul a:visited { display: block; position: relative; float: none; padding: 15px 10px; clear: both; }
        
    /* 2ND LEVEL */  
        nav ul ul { display: none; position: relative; width: 100%; top: 0; left: 0; margin: 0; padding: 0; background: none; border-bottom: 2px solid #757575; z-index: 999999; }
            nav ul ul li { background: #cfcfcf; }
            nav ul ul a, nav ul ul a:link, nav ul ul a:visited { padding: 15px 10px 15px 25px; color: #000; }
        
        /* 3RD LEVEL */
        nav ul ul ul { top: 0; left: 0; z-index: 999999; }
            nav ul ul ul li { background: #b3b3b3; }
            nav ul ul ul a, nav ul ul ul a:link, nav ul ul ul a:visited { padding: 15px 10px 15px 45px; }
        
    nav .sub_nav { position: absolute; right: 0; top: 0; width: 10%; padding: 20px 20px 15px 20px; margin: 0; cursor: pointer; }
    nav .arrow_up { float: right; width: 0; height: 0; padding: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #000; }
    nav .arrow_down { float: right; width: 0; height: 0; padding: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #000; }
    
/* CONTENT */

    .block { display: block; float: none; clear: both; width: 100% !important; margin: 35px 0; }
    
/* FOOTER */

    footer div, footer ul { display: block; float: none; clear: both; width: 100%; }
    footer .follow { margin-left: -15px; }